[Unit]
Description=Serino Manual Upgrade Job
After=network-online.target docker.service __SERINO_SYSTEMD_UNIT__
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=__SERINO_BIN_LINK__ upgrade
