AERISUN_APP_NAME=Aerisun API
AERISUN_ENVIRONMENT=development
AERISUN_HOST=127.0.0.1
AERISUN_PORT=8000
AERISUN_DATA_DIR=.store
AERISUN_MEDIA_DIR=.store/media
AERISUN_SECRETS_DIR=.store/secrets
AERISUN_DB_PATH=.store/aerisun.db
AERISUN_WALINE_DB_PATH=.store/waline.db
AERISUN_SITE_URL=http://localhost:8080
AERISUN_WALINE_SERVER_URL=/waline
WALINE_SERVER_URL=http://localhost:8080/waline
AERISUN_LITESTREAM_CONFIG_PATH=./litestream.yml
AERISUN_LITESTREAM_REPLICA_URL=sftp://backup-user@backup-host:22/backup/aerisun/aerisun.db
AERISUN_WALINE_LITESTREAM_REPLICA_URL=sftp://backup-user@backup-host:22/backup/aerisun/waline.db
AERISUN_BACKUP_RSYNC_URI=backup-user@backup-host:/backup/aerisun
AERISUN_BACKUP_SSH_PORT=22
AERISUN_SQLITE_BUSY_TIMEOUT_MS=5000
AERISUN_SEED_REFERENCE_DATA=true
WALINE_JWT_TOKEN=change-me
WALINE_SECURE_DOMAINS=localhost,127.0.0.1
WALINE_AVATAR_PROXY=https://avatar.75cdn.workers.dev
WALINE_GRAVATAR_STR=https://seccdn.libravatar.org/avatar/{{mail|md5}}
