dbs:
  - path: ${AERISUN_DB_PATH}
    replica:
      url: ${AERISUN_LITESTREAM_REPLICA_URL}
      sync-interval: 1s
      validation-interval: 6h
  - path: ${AERISUN_WALINE_DB_PATH}
    replica:
      url: ${AERISUN_WALINE_LITESTREAM_REPLICA_URL}
      sync-interval: 1s
      validation-interval: 6h
